.register{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registerTitle{
    font-size: 50px;
}

.registerform{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.registerform > label{
    margin: 10px 0;
}

.registerInput{
    padding: 10px;
    background-color: white;
    border: none;
}

.registerButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: rgb(36, 65, 198);
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.logButton{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: rgb(36, 65, 198);
    margin-top: 12px;
    color: white;
    cursor: pointer;
    border: none;
    padding: 10px;
    border-radius: 10px;
}